$nav-text-color: #eee;
$nav-bg-color: #8b1e3f;
$body-text-color: #222;
$body-bg-color: #daedbd;

body {
    background: $body-bg-color;
    color: $body-text-color;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 1.1em;
}

header {
    background: $nav-bg-color;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;

    a {
        text-decoration: none;
        color: $nav-text-color;
        padding: 0.25em;

        &:hover {
            background: darken($nav-bg-color, 2%);
        }
    }

    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(7.5vh, auto);
    }

    #nav-name {
        margin: auto;
    }

    #ham-menu {
        margin: auto;
        padding-left: 15vw;
        color: $nav-text-color;
    }

    #nav-links {
        grid-area: 2/ 1 / span 1 / span 2;
        display: none;
        flex-direction: column;

        a {
            padding: 0.25em 0;
            margin: auto;
        }
    }
}

.main {
    height: 100vh;
    padding-top: 10vh;
}

.content-pic {
    padding: 1em;
    text-align: center;
    img {
        object-fit: cover;
        object-position: 90% 0;

        min-width: 20vh;
        min-height: 20vh;

        width: 20vw;
        height: 20vw;

        border-radius: 50%;
    }
}

.content {
    padding: 0.5em 1.5em;
}

@media (min-width: 768px) {
    nav {
        font-size: 1.2em;

        #ham-menu {
            display: none;
        }

        #nav-links {
            grid-area: 1/ 2 / span 1 / span 1;

            display: flex !important;
            flex-direction: row;
            padding-left: 10vw;

            a {
                margin: auto 0;
                padding: 0 1em;
            }
        }
    }

    .main {
        padding: 0;
        display: grid;
        grid-template-columns: 40% auto;
        align-items: center;
    }
}
