$nav-text-color: #eee;
// $nav-bg-color: #8b1e3f;
$body-text-color: #222;
// $body-bg-color: #daedbd;

.content-pic {
    padding: 1em;
    text-align: center;
    img {
        object-fit: cover;
        object-position: 90% 0;

        min-width: 20vh;
        min-height: 20vh;

        width: 20vw;
        height: 20vw;

        border-radius: 50%;
    }
}

.content {
    padding: 0.5em 1.5em;

    #content-name {
        font-size: 1.7em;
    }

    p {
        margin: 0.4em 0;
    }
}

@media (min-width: 768px) {
    .main {
        height: 100vh;
        padding: 0;
        display: grid;
        grid-template-columns: 40% auto;
        align-items: center;
    }
}
