$nav-text-color: #eee;
// $nav-bg-color: #8b1e3f;
$body-text-color: #222;
// $body-bg-color: #daedbd;
body {
    background: #d3cce3;
    background: linear-gradient(to right, #e9e4f0, #d3cce3);

    color: $body-text-color;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
    padding: 0;
    margin: 0;
    font-size: 1.1em;
}

.icon {
    display: inline-block;
    width: 1.2em;
    height: 1.4em;
    fill: $nav-text-color;
}

.main {
    height: 80vh;
    padding-top: 10vh;
}
