$nav-text-color: #eee;
// $nav-bg-color: #8b1e3f;
$body-text-color: #222;
// $body-bg-color: #daedbd;

header {
    background: #000046;
    background: linear-gradient(to left, #1cb5e0, #000046);

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;

    a {
        text-decoration: none;
        color: $nav-text-color;
        padding: 0.25em 1em;

        &:hover {
            background: rgba(0, 0, 0, 0.2);
        }
    }

    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: minmax(7.5vh, auto);
    }

    #nav-name {
        margin: auto;
    }

    #ham-menu {
        margin: auto;
        padding-left: 15vw;
        color: $nav-text-color;
    }

    #nav-links {
        grid-area: 2/ 1 / span 1 / span 2;
        display: none;
        flex-direction: column;

        a {
            margin: auto;
            height: 1.5em;
        }
    }
}

@media (min-width: 768px) {
    nav {
        font-size: 1.2em;

        #ham-menu {
            display: none;
        }

        #nav-links {
            grid-area: 1/ 2 / span 1 / span 1;

            display: flex !important;
            flex-direction: row;
            padding-left: 10vw;

            a {
                margin: auto 0;
                height: auto;
            }
        }
    }
}
